
/*Loading*/
#loading{
			/*opacity:0.80;
			filter:alpha(opacity=80); /* For IE8 and earlier */
			margin: 0px auto;
			width:1000px;
			height: 600px;
			background-color: #e3e3e3;				 
			z-index: 2;
			position:relative;
			padding-top:20px;
			display:block;
			}

p.loading{
			text-align:center;
			line-height: 500px;
			color:#272a80;
			font-size:37px;		
			margin: 0px auto;
			padding-top:20px;	
			display:block;
			}
/*Stile mappa*/
#map { 			
		height: 600px;
		width: 1000px;	
		display: block;
		margin: 0px auto;
		text-align: center;
		z-index: 0;
		}			

/* Fix IE. Hide from IE Mac \*/
* html ul li { float: left; }
* html ul li a { height: 1%; }
/* End */

#navigation{
			visibility: hidden;
			margin: 0px auto;
			display: block;
			position:ab4;
			top: 0px;
			left: 0 px;
			z-index: 1;
			}
#nav{
	font-size: 12px;
	margin: 0px auto;
	display: block;
	position:relative;
	top: 10px;
	left: 20px;
}
/* CSS Document */
#nav, #nav ul {	
	list-style:none;
	padding:0;
	margin:0;
	position:absolute;
}
#nav li {
	float:left;
	position:relative;
	line-height:2.5em;
	width:30em;
}
#nav li ul {
	position:absolute;
	margin-top:-1em;
	margin-left: 1em; /* for IE */
	display:none;
}
#nav ul li ul {
	margin-top:-1.5em;
	margin-left:7em;
}
/* ******************************************************************* */
/* SHOW SUBMENU  1 */
#nav li:hover ul, #nav li.over ul {
	display:block;
}
#nav li:hover ul ul, #nav li.over ul ul {
	display:none;
}
/* SHOW SUBMENU  2 */
#nav ul li:hover ul, #nav ul li.over ul {
	display:block;
}
/* ******************************************************************* */
/* STYLING UP THE LINKS */
#nav a {
	display:block;
	border-right:1px solid #fff;
	background:#FCF800;
	color:#000000;
	font-weight:bold;
	text-decoration:none;
	padding:0 10px;
	border-radius: 10px 10px 10px 10px;
}
#nav a:hover {
	background-color:#5798B4;
	color:#fff;
}
#nav ul {	
	border-top:1px solid #fff;
	border-radius: 10px 10px 10px 10px;
}
#nav ul a {
	border-right:none;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	border-left:1px solid #fff;
	background:#FF0F0F;
}
#nav ul ul a{
	border-right:none;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	border-left:1px solid #fff;
	background:#005DE0;
	}

/* ******************************************************************* */

#nav {
	z-index:1;
}
#nav ul {
	z-index:2;
}
#nav ul ul {
	z-index:3;
}